# Exercise 6-2: Clean the Cars data

## Read the data

In [1]:
import pandas as pd

In [3]:
cars = pd.read_csv('cars.csv')

In [9]:
# display the first 5 rows
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

## Examine the data

In [11]:
# info()
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [13]:
# value_counts()
cars.value_counts()

car_ID  symboling  CarName                   fueltype  aspiration  doornumber  carbody      drivewheel  enginelocation  wheelbase  carlength  carwidth  carheight  curbweight  enginetype  cylindernumber  enginesize  fuelsystem  boreratio  stroke  compressionratio  horsepower  peakrpm  citympg  highwaympg  price
205     -1         volvo 264gl               gas       turbo       four        sedan        rwd         front           109.1      188.8      68.9      55.5       3062        ohc         four            141         mpfi        3.78       3.15    9.5               114         5400     19       25          22625.000    1
1        3         alfa-romero giulia        gas       std         two         convertible  rwd         front           88.6       168.8      64.1      48.8       2548        dohc        four            130         mpfi        3.47       2.68    9.0               111         5000     21       27          13495.000    1
2        3         alfa-romero stelvio       gas       std         two         convertible  rwd         front           88.6       168.8      64.1      48.8       2548        dohc        four            130         mpfi        3.47       2.68    9.0               111         5000     21       27          16500.000    1
3        1         alfa-romero Quadrifoglio  gas       std         two         hatchback    rwd         front           94.5       171.2      65.5      52.4       2823        ohcv        six             152         mpfi        2.68       3.47    9.0               154         5000     19       26          16500.000    1
4        2         audi 100 ls               gas       std         four        sedan        fwd         front           99.8       176.6      66.2      54.3       2337        ohc         four            109         mpfi        3.19       3.40    10.0              102         5500     24       30          13950.000    1
                                                                                                                                                                                                                                                                                                                              ..
9        1         audi 4000                 gas       turbo       four        sedan        fwd         front           105.8      192.7      71.4      55.9       3086        ohc         five            131         mpfi        3.13       3.40    8.3               140         5500     17       20          23875.000    1
10       0         audi 5000s (diesel)       gas       turbo       two         hatchback    4wd         front           99.5       178.2      67.9      52.0       3053        ohc         five            131         mpfi        3.13       3.40    7.0               160         5500     16       22          17859.167    1
11       2         bmw 320i                  gas       std         two         sedan        rwd         front           101.2      176.8      64.8      54.3       2395        ohc         four            108         mpfi        3.50       2.80    8.8               101         5800     23       29          16430.000    1
12       0         bmw 320i                  gas       std         four        sedan        rwd         front           101.2      176.8      64.8      54.3       2395        ohc         four            108         mpfi        3.50       2.80    8.8               101         5800     23       29          16925.000    1
13       0         bmw x1                    gas       std         two         sedan        rwd         front           101.2      176.8      64.8      54.3       2710        ohc         six             164         mpfi        3.31       3.19    9.0               121         4250     21       28          20970.000    1
Name: count, Length: 205, dtype: int64

In [21]:
# unique()
unique_car_names = cars['CarName'].unique()
print(unique_car_names)

['alfa-romero giulia' 'alfa-romero stelvio' 'alfa-romero Quadrifoglio'
 'audi 100 ls' 'audi 100ls' 'audi fox' 'audi 5000' 'audi 4000'
 'audi 5000s (diesel)' 'bmw 320i' 'bmw x1' 'bmw x3' 'bmw z4' 'bmw x4'
 'bmw x5' 'chevrolet impala' 'chevrolet monte carlo' 'chevrolet vega 2300'
 'dodge rampage' 'dodge challenger se' 'dodge d200' 'dodge monaco (sw)'
 'dodge colt hardtop' 'dodge colt (sw)' 'dodge coronet custom'
 'dodge dart custom' 'dodge coronet custom (sw)' 'honda civic'
 'honda civic cvcc' 'honda accord cvcc' 'honda accord lx'
 'honda civic 1500 gl' 'honda accord' 'honda civic 1300' 'honda prelude'
 'honda civic (auto)' 'isuzu MU-X' 'isuzu D-Max ' 'isuzu D-Max V-Cross'
 'jaguar xj' 'jaguar xf' 'jaguar xk' 'maxda rx3' 'maxda glc deluxe'
 'mazda rx2 coupe' 'mazda rx-4' 'mazda glc deluxe' 'mazda 626' 'mazda glc'
 'mazda rx-7 gs' 'mazda glc 4' 'mazda glc custom l' 'mazda glc custom'
 'buick electra 225 custom' 'buick century luxus (sw)' 'buick century'
 'buick skyhawk' 'buick opel isuzu deluxe' 'buick skylark'
 'buick century special' 'buick regal sport coupe (turbo)'
 'mercury cougar' 'mitsubishi mirage' 'mitsubishi lancer'
 'mitsubishi outlander' 'mitsubishi g4' 'mitsubishi mirage g4'
 'mitsubishi montero' 'mitsubishi pajero' 'Nissan versa' 'nissan gt-r'
 'nissan rogue' 'nissan latio' 'nissan titan' 'nissan leaf' 'nissan juke'
 'nissan note' 'nissan clipper' 'nissan nv200' 'nissan dayz' 'nissan fuga'
 'nissan otti' 'nissan teana' 'nissan kicks' 'peugeot 504' 'peugeot 304'
 'peugeot 504 (sw)' 'peugeot 604sl' 'peugeot 505s turbo diesel'
 'plymouth fury iii' 'plymouth cricket' 'plymouth satellite custom (sw)'
 'plymouth fury gran sedan' 'plymouth valiant' 'plymouth duster'
 'porsche macan' 'porcshce panamera' 'porsche cayenne' 'porsche boxter'
 'renault 12tl' 'renault 5 gtl' 'saab 99e' 'saab 99le' 'saab 99gle'
 'subaru' 'subaru dl' 'subaru brz' 'subaru baja' 'subaru r1' 'subaru r2'
 'subaru trezia' 'subaru tribeca' 'toyota corona mark ii' 'toyota corona'
 'toyota corolla 1200' 'toyota corona hardtop' 'toyota corolla 1600 (sw)'
 'toyota carina' 'toyota mark ii' 'toyota corolla'
 'toyota corolla liftback' 'toyota celica gt liftback'
 'toyota corolla tercel' 'toyota corona liftback' 'toyota starlet'
 'toyota tercel' 'toyota cressida' 'toyota celica gt' 'toyouta tercel'
 'vokswagen rabbit' 'volkswagen 1131 deluxe sedan' 'volkswagen model 111'
 'volkswagen type 3' 'volkswagen 411 (sw)' 'volkswagen super beetle'
 'volkswagen dasher' 'vw dasher' 'vw rabbit' 'volkswagen rabbit'
 'volkswagen rabbit custom' 'volvo 145e (sw)' 'volvo 144ea' 'volvo 244dl'
 'volvo 245' 'volvo 264gl' 'volvo diesel' 'volvo 246']

## Fix spelling and capitalization problems in the data

In [23]:
cars['brand'] = cars.apply(lambda x: x.CarName.split(' ')[0], axis=1)
cars['name'] = cars.apply(lambda x: ' '.join(x.CarName.split(' ')[1:]), axis=1)

In [25]:
# display each unique value in the brand column
unique_brands = cars['brand'].unique()
print(unique_brands)

['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'maxda' 'mazda' 'buick' 'mercury' 'mitsubishi' 'Nissan' 'nissan'
 'peugeot' 'plymouth' 'porsche' 'porcshce' 'renault' 'saab' 'subaru'
 'toyota' 'toyouta' 'vokswagen' 'volkswagen' 'vw' 'volvo']

In [37]:
# fix any misspellings or inconsistent capitalization in the brand names
corrections = {
    'Nissan': 'nissan',
    'porcshce': 'porsche',
    'toyouta': 'toyota',
    'vokswagen': 'volkswagen',
}
cars['brand'] = cars['brand'].replace(corrections, inplace=False)
print(cars['brand'].unique())

['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'maxda' 'mazda' 'buick' 'mercury' 'mitsubishi' 'nissan' 'peugeot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen' 'vw'
 'volvo']

In [39]:
# store the fixed data in the CarName column
cars['CarName'] = cars['brand'] + ' ' + cars['name']
cars.drop(columns=['brand'], inplace=True)
print(cars.head())

   car_ID  symboling                   CarName fueltype aspiration doornumber  \
0       1          3        alfa-romero giulia      gas        std        two
1       2          3       alfa-romero stelvio      gas        std        two
2       3          1  alfa-romero Quadrifoglio      gas        std        two
3       4          2               audi 100 ls      gas        std       four
4       5          2                audi 100ls      gas        std       four

       carbody drivewheel enginelocation  wheelbase  ...  fuelsystem  \
0  convertible        rwd          front       88.6  ...        mpfi
1  convertible        rwd          front       88.6  ...        mpfi
2    hatchback        rwd          front       94.5  ...        mpfi
3        sedan        fwd          front       99.8  ...        mpfi
4        sedan        4wd          front       99.4  ...        mpfi

   boreratio  stroke  compressionratio horsepower peakrpm  citympg highwaympg  \
0       3.47    2.68               9.0        111    5000       21         27
1       3.47    2.68               9.0        111    5000       21         27
2       2.68    3.47               9.0        154    5000       19         26
3       3.19    3.40              10.0        102    5500       24         30
4       3.19    3.40               8.0        115    5500       18         22

     price          name
0  13495.0        giulia
1  16500.0       stelvio
2  16500.0  Quadrifoglio
3  13950.0        100 ls
4  17450.0         100ls

[5 rows x 27 columns]

## Rename and drop columns

In [43]:
# rename the CarName and the car_ID columns to brandname and carid
cars.rename(columns={'CarName': 'brandname', 'car_ID': 'carid'}, inplace=True)
print(cars.head())

   carid  symboling                 brandname fueltype aspiration doornumber  \
0      1          3        alfa-romero giulia      gas        std        two
1      2          3       alfa-romero stelvio      gas        std        two
2      3          1  alfa-romero Quadrifoglio      gas        std        two
3      4          2               audi 100 ls      gas        std       four
4      5          2                audi 100ls      gas        std       four

       carbody drivewheel enginelocation  wheelbase  ...  fuelsystem  \
0  convertible        rwd          front       88.6  ...        mpfi
1  convertible        rwd          front       88.6  ...        mpfi
2    hatchback        rwd          front       94.5  ...        mpfi
3        sedan        fwd          front       99.8  ...        mpfi
4        sedan        4wd          front       99.4  ...        mpfi

   boreratio  stroke  compressionratio horsepower peakrpm  citympg highwaympg  \
0       3.47    2.68               9.0        111    5000       21         27
1       3.47    2.68               9.0        111    5000       21         27
2       2.68    3.47               9.0        154    5000       19         26
3       3.19    3.40              10.0        102    5500       24         30
4       3.19    3.40               8.0        115    5500       18         22

     price          name
0  13495.0        giulia
1  16500.0       stelvio
2  16500.0  Quadrifoglio
3  13950.0        100 ls
4  17450.0         100ls

[5 rows x 27 columns]

In [45]:
# drop the carid and symbol columns
cars.drop(columns=['carid', 'symboling'], inplace=True)
print(cars.head())

                  brandname fueltype aspiration doornumber      carbody  \
0        alfa-romero giulia      gas        std        two  convertible
1       alfa-romero stelvio      gas        std        two  convertible
2  alfa-romero Quadrifoglio      gas        std        two    hatchback
3               audi 100 ls      gas        std       four        sedan
4                audi 100ls      gas        std       four        sedan

  drivewheel enginelocation  wheelbase  carlength  carwidth  ...  fuelsystem  \
0        rwd          front       88.6      168.8      64.1  ...        mpfi
1        rwd          front       88.6      168.8      64.1  ...        mpfi
2        rwd          front       94.5      171.2      65.5  ...        mpfi
3        fwd          front       99.8      176.6      66.2  ...        mpfi
4        4wd          front       99.4      176.6      66.4  ...        mpfi

   boreratio stroke compressionratio  horsepower peakrpm  citympg  highwaympg  \
0       3.47   2.68              9.0         111    5000       21          27
1       3.47   2.68              9.0         111    5000       21          27
2       2.68   3.47              9.0         154    5000       19          26
3       3.19   3.40             10.0         102    5500       24          30
4       3.19   3.40              8.0         115    5500       18          22

     price          name
0  13495.0        giulia
1  16500.0       stelvio
2  16500.0  Quadrifoglio
3  13950.0        100 ls
4  17450.0         100ls

[5 rows x 25 columns]