# Exercise 5-4: Get data from a Stata file

In [2]:
import pandas as pd

In [3]:
from urllib import request
zip_url = 'http://gss.norc.org/Documents/stata/gss_stata_with_codebook.zip'
request.urlretrieve(zip_url, filename='gss_stata_with_codebook.zip')

('gss_stata_with_codebook.zip', <http.client.HTTPMessage at 0x10f9c82d0>)

In [4]:
from zipfile import ZipFile
with ZipFile('gss_stata_with_codebook.zip', mode='r') as zip:
    zip.extractall() 
    for file in zip.infolist():    
        print(file.filename)

Release Notes 7218.pdf
GSS_Codebook.pdf
GSS7218_R3.DTA

## Build a DataFrame for the metadata

In [ ]:
%conda install -c conda-forge pyreadstat --yes
import pyreadstat
gss_stata_filename = 'GSS7218_R3.DTA'

In [12]:
# get the metadata container
gss_empty, gss_meta = pyreadstat.read_dta( gss_stata_filename, metadataonly=True) 
type(gss_meta)

pyreadstat._readstat_parser.metadata_container

In [ ]:
# print the attributes from DataFrame
print("Number of columns:", gss_meta.number_columns) 
print("Number of rows:", gss_meta.number_rows) 
print("Column names:", gss_meta.column_names)

In [24]:
# build a DataFrame from the metadata
import pandas as pd 
meta_cols=pd.DataFrame(data=gss_meta.column_labels, index=gss_meta.column_names, columns=['description']) 
meta_cols.head(5)

                                 description
year            gss year for this respondent
id                      respondent id number
wrkstat                   labor force status
hrs1        number of hours worked last week
hrs2     number of hours usually work a week

## Read the data into a DataFrame

In [31]:
# read at least 5 columns from the stata file into a DataFrame
gss_data = pd.read_stata('GSS7218_R3.DTA',
    columns=['year','id','wrkstat','hrs1','hrs2','evwork','wrkslf','wrkgovt']) 
gss_data.tail()

,year,id,wrkstat,hrs1,hrs2,evwork,wrkslf,wrkgovt
64809,2018,2344,working fulltime,36.0,NaN,NaN,someone else,government
64810,2018,2345,working parttime,36.0,NaN,NaN,someone else,private
64811,2018,2346,retired,NaN,NaN,yes,someone else,private
64812,2018,2347,retired,NaN,NaN,yes,someone else,private
64813,2018,2348,keeping house,NaN,NaN,yes,someone else,government